.font{
   font-size:25px;
   }
.heading2{
	text-align: right;
}
.heading4{
	color: white;
	background-color: black;
	padding:5px
}
.card{
	padding:Bpx;
	margin:5px;
	background-size: cover; 
	font-style: https://coolsymbol.com/text-decorator.html?style=handWriting&text=Preview%20Text;
}
.myimg{
	width:150px;
	height:auto;
	
}

body{
	padding:40px;
	width: 100%vw;
	height: 100%vh;
	
}
.center{
	text-align: center;
}

